spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/shoppingdb
    username: root
    password: 123456789
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

  ai:
    openai:
      api-key: ${GEMINI_API_KEY}
      chat:
        base-url: https://generativelanguage.googleapis.com
        completions-path: /v1beta/openai/chat/completions
        options:
          model: gemini-2.0-flash

server:
  port: 8080

logging:
  level:
    web: debug

