<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Product Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
    <h5  th:text="${product.name}">Name</h5>
    <p th:text="${product.description}">Description</p>
    <p>
        <b>Price:</b>
        <span th:text="${product.price}">Price</span>
    </p>
    <p>
        <b>In stock: </b>
        <span th:text="${product.inStock}">In stock</span>
    </p>
    <div class="gap-2">
        <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-outline-warning m-2" sec:authorize="hasRole('ADMIN')">Edit</a>
        <a th:href="@{/product}" class="btn btn-outline-primary">Back to product list</a>
    </div>

</div>

</body>
</html>